* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #f6f7fb;
}

/* IMPORTANT */
#app {
  width: 100%;
  height: 100%;
}
